<div class="well">
  <div class="row">
    <div class="col-sm-3">
      <img src="<%= notebook.target.avatar.url(:thumb) %>" alt="<%= notebook.target.fullname %>" width="30px" />
    </div>
    <div class="col-sm-3">
      <%= notebook.title %>
    </div>
  </div>
</div>
