<div class="row">
  <div class="col-sm-8">
    <h1><%= @notebook.title %></h1>
  </div>
  <div class="col-sm-4">
    <%= link_to edit_notebook_path(@notebook), :class => "btn btn-default pull-right" do %>
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <% end %>
  </div>
</div>
<%#= month_calendar do |date| #%>
  <%#= date #%>
<%# end #%>
